html {
  background-color: #fffef5;
  font-family: 'helvetica neue';

}

h1, h2 {
  color: #1e3d59;
  padding: 10px;
}

h2 {
  padding-top: 20px;
  margin: 0;
}

a {
  text-decoration: none;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #f5f0e5;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #f5f0e5;
  text-align: center;
}

.list-types p:hover {
  background: #f0eadc;
  cursor: pointer;
}



.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #1e3d59;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  height: 40px;
  width: 70px;
  padding: 0 5px;
  border-radius: 5px;
  margin-right: 10px;
  /* border-color: transparent; */
  background-color: #1e3d59;
  color: #f5f0e1;
  font-size: 15px;
  border-width: 0;
  text-align: center;
  -webkit-appearance: none;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #1e3d59;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
  body {
    margin: auto 15px;
  }

  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 220px;
  }

  button {
    height: 40px;
    width: 70px;
    padding: 0 5px;
    border-radius: 5px;
    /* border-color: transparent; */
    background-color: #1e3d59;
    color: #f5f0e1;
    font-size: 15px;
    border-width: 0;
    text-align: center;
    -webkit-appearance: none;
}
}
